body {
	background-color: white;
	margin: 0;
/*    
	padding: .2em;
	*    border-left: 10px double #00688b; */
}

@media print {
	.noprint { visibility: hidden; display: none; }
}

#osztaly {
	width: 200px;
}

@media not print {
	#duma {
		width: -webkit-calc(100% - 250px);
		width:    -moz-calc(100% - 250px);
		width:         calc(100% - 250px);
	}
}

p { text-indent: 1.0em; margin: 0.15em; }
p.elso { margin-top: .7em; text-indent: 0em; }
p.so { margin-top: .7em; text-indent: 0em; }

a { text-decoration: none; color: maroon; }
a:hover { background: #cccccc; }

.justify { text-align: justify; text-indent: 0em; }
.center { text-align: center; text-indent: 0em; }
.right { text-align: right; text-indent: 0em; }
.left { text-align: left; text-indent: 0em; }
.kicsi { font-size: 85%; }
.sans { font-family: Verdana, Tahoma, Helvetica, Arial, sans-serif; }

#lista { border-collapse: collapse; }
#lista tr:nth-child(odd)    { background-color: white; }
#lista tr:nth-child(even)   { background-color: #eee; }
#lista td { padding: .15em; }
#lista tr.borderTop td { border-top: 1px solid black; padding-top: .3em; }

td.foglalt { background-color: #d0e0e0; }
td.szuloi { background-color: yellow; }
td.sajat { background-color: red !important; }

#tanar tr:nth-child(odd)    { background-color: #eee; }
#tanar tr:nth-child(even)   { background-color: white; }
#tanar tr:first-child, tr:last-child { background-color: white; }
#tanar tr td:nth-child(7)    { white-space: nowrap; }

.nincs { background: #d0e0e0; }
.idoKezd, .idoFolytat { background: inherit; }
.szuloi { background: yellow; }
.foglalt { background: red; }
span.nincs, span.idoKezd, span.idoFolytat, span.szuloi, span.foglalt { padding-left: 4px; padding-right: 4px; } 

/* az admin.php stílusai */

table.tanar {
	border-spacing: 0px;
}
tr.paratlan { background-color: #eeeeee; }

address { font-size: 8pt; }

div.kiemelt {
	padding: .2em;
	border: solid thin;
	margin: .5em 0;
	background: #ddd;
}
div.userlog {
	font-size: 90%;
	background: #e8e8e8;
}

div.float { float: left; padding: 5pt; }
div.container { padding: 0 10pt; }
div.spacer { clear: both; }

#duma {
	margin: 1em;
	float: left;
}

#osztaly {
	float: left;
	font-size: 12px;
	font-family: Helvetica, Arial, Sans-Serif;
	font-weight: bold;
	background: #004656;
	color: white;
	padding: .5em;
	padding-right: 1em;
}

#osztaly a { padding: .2ex .2em; text-decoration: none; color: white;  }
#osztaly a:hover { color: maroon; background: white; }

#osztaly span { display: inline-block; width: 3em; }

#osztaly p {
	text-indent: -.7em;
	margin: 0;
	padding: 0;
	padding-bottom: .8em;
	margin-left: .7em;
}
#osztaly p+p {
	text-indent: -.7em;
	padding-bottom: 0;
margin-left: .7em;
}

#menu {
	position: fixed;
	z-index: 5;
	top: 0;
	right: 0;
	margin: .5em;
}
.nowrap { white-space: nowrap; }
