body {
	background-color: white;
	padding: .5em;
/*	border-left: 10px double #00688b; */
}

p { text-indent: 1.0em; margin: 0.15em; }
p.elso { margin-top: .7em; text-indent: 0em; }
p.so { margin-top: .7em; text-indent: 0em; }

a { text-decoration: none; color: maroon; }
a:hover { background: #cccccc; }

p.menu {
	font-size: 12pt;
	color: #999999;
	background-color: #00688b;
	text-indent: 0em; margin: 0px;
	font-family: Verdana, Tahoma, Helvetica, Arial, sans-serif;
	padding: 3px;
}
a.menu {
	color: #cccccc;
	padding: 2pt 4pt;
	background: #00688b;
}
a.menu:hover {
	color: white;
	padding: 2pt 4pt;
	background: #00688b;
}

.justify { text-align: justify; text-indent: 0em; }
.center { text-align: center; text-indent: 0em; }
.right { text-align: right; text-indent: 0em; }
.left { text-align: left; text-indent: 0em; }
.kicsi { font-size: 10pt; }

/*
table {
	border-spacing: 1px;
	border: outset .5pt;
}
th { text-align: left; border: inset .5pt; }
td { text-align: left; border: inset .5pt; }
*/
td.sajat { background-color: red; }
td.foglalt { background-color: #D0E0E0; }
td.szuloi { background-color: yellow; }

/* Itt jönnek az admin.php stílusai */

table.tanar {
border-collapse: collapse;	border-spacing: 20px 22px;
	border: 5px solid green;
}
TABLE.tanar[rules=rows] TR { border-top: solid }
TABLE.tanar[rules=rows]    { border-collapse: collapse; 
                       border-top: hidden }
tr.paros { background-color: #EEEEEE; }

address { font-size: 8 pt; }

