body {
    background-color: white;
    padding: .5em;
/*    border-left: 10px double #00688b; */
}

p { text-indent: 1.0em; margin: 0.15em; }
p.elso { margin-top: .7em; text-indent: 0em; }
p.so { margin-top: .7em; text-indent: 0em; }

a { text-decoration: none; color: maroon; }
a:hover { background: #cccccc; }

@media print {
  .noprint { visibility: hidden; }
}

.justify { text-align: justify; text-indent: 0em; }
.center { text-align: center; text-indent: 0em; }
.right { text-align: right; text-indent: 0em; }
.left { text-align: left; text-indent: 0em; }
.kicsi { font-size: 85%; }
.sans { font-family: Verdana, Tahoma, Helvetica, Arial, sans-serif; }

#lista { border-collapse: collapse; }
#lista tr:nth-child(odd)    { background-color: white; }
#lista tr:nth-child(even)   { background-color: #eee; }
#lista td { padding: .15em; }
#lista tr.borderTop td { border-top: 1px solid black; padding-top: .3em; }

td.foglalt { background-color: #d0e0e0; }
td.szuloi { background-color: yellow; }
td.sajat { background-color: red !important; }

#tanar tr:nth-child(odd)    { background-color: #eee; }
#tanar tr:nth-child(even)   { background-color: white; }
#tanar tr:first-child, tr:last-child { background-color: white; }

.nincs { background: #d0e0e0; }
.idoKezd, .idoFolytat { background: inherit; }
.szuloi { background: yellow; }
.foglalt { background: red; }
span.nincs, span.idoKezd, span.idoFolytat, span.szuloi, span.foglalt { padding-left: 4px; padding-right: 4px; } 

/* az admin.php stílusai */

table.tanar {
    border-spacing: 0px;
}
tr.paratlan { background-color: #EEEEEE; }

address { font-size: 8pt; }

div.kiemelt {
    padding: .2em;
    border: solid thin;
    margin: .5em 0;
    background: #ddd;
}
div.userlog {
    font-size: 90%;
    background: #e8e8e8;
}
