body {
    font-size: 12px;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: bold;
    background: #004656;
    color: white;
}

a { padding: .2ex .2em; text-decoration: none; color: white;  }
a:hover { color: maroon; background: white; }

span { display: inline-block; width: 3em; }

p {
    text-indent: -.7em;
    margin: 0;
    padding: 0;
    padding-bottom: .8em;
margin-left: .7em;
}
p+p {
    text-indent: -.7em;
    padding-bottom: 0;
margin-left: .7em;
}
